body {
  text-rendering: optimizeSpeed;
  font-family: var(--font-system);
  font-size: var(--s0);
  line-height: var(--lh-regular);
}

*:not(:is(html, body, header, nav, main, div, section, article, footer)) {
  max-inline-size: var(--measure);
}

h1 {
  font-size: var(--s2);
  line-height: var(--lh-tight);
}

h2 {
  font-size: var(--s1);
  line-height: var(--lh-slim);
}
