/* https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box; /* Box sizing rules */
  margin: 0; /* Remove default margin */
  color: inherit; /* Remove any color */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* Baseline for default links */
a:not([class], [id]) {
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}
